
.cart-detail-main-div{
    height: 80vh;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:rgb(55,171,138) ;
    -webkit-box-shadow: 1px 1px 30px 1px #c5c3c3; 
box-shadow: 1px 1px 30px 1px #c5c3c3;
}
.cart-detail-heading{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 19rem;
    margin-top:1rem;
    font-weight: 1000;
    letter-spacing: 6px;

    
    
}
.title{
    font-family: 'Rampart One', cursive;
    font-weight: 500;
    margin-left: 3px;
}
.cart-detail-heading{
    font-size: 1rem;
}
.cart-detail-address{
    
    width:29vw;
    height: auto;
    border: 1px solid rgb(214, 207, 207);
    margin:  1rem 1rem;
    border-radius: 5%;
    scrollbar-width: none;-webkit-box-shadow: 1px 1px 30px 1px #b1aeae; 
    box-shadow: 1px 1px 30px 1px #c5c3c3;

    
}
.cart-detail-address::-webkit-scrollbar{
    display: none;
}

.cart-detail-payment-method{
    width:29vw;
    height: 30vh;
    border: 1px solid rgb(190, 185, 185);
    margin: 1rem;
    border-radius: 5%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;-webkit-box-shadow: 1px 1px 30px 1px #b1aeae; 
    box-shadow: 1px 1px 30px 1px #c5c3c3; 
}
.cart-detail-payment-method::-webkit-scrollbar{
    display: none;
}
.cart-detail-button{
    position: relative;
    bottom: -2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.subtotal-detail{
    position: relative;
    bottom: .35rem;
    
}
.date-field{
    margin-left: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}


.card-number{
    width: 100%;
    padding: 1px;
    margin: 5px;
}
.card-owner{
    width: 100%;
    padding: 1px;
    margin: 5px;
}
.month{
    width:45%;
    padding: 1px;
    margin: 5px;
}
.year{
    width: 45%;
    padding: 1px;
    margin: 5px;
}
.cvv-input{
    width: 100%;
    padding: 1px;
    margin: 5px;
}

.form-control{
    width: 90%;
    padding-top:2px;
    margin-top: 5px;
}

.payment-styling{
    border-color: #e6e1e1;
}