.cart-detail-main-div {
  height: 80vh;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(11, 22, 19);
}
.cart-detail-heading {
  font-size: 19rem;
  margin-top: 1rem;
  font-weight: 1000;
  letter-spacing: 6px;
}
.title {
  font-weight: 500;
  margin-left: 3px;
  text-align: center;
  padding-top: 1rem;
}
.cart-detail-heading {
  font-size: 1rem;
}
.cart-detail-address {
  width: 150%;
  height: auto;
  border: 1px solid rgb(214, 207, 207);
  margin: 1rem 1rem;
  border-radius: 5%;
  scrollbar-width: none;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cart-detail-address::-webkit-scrollbar {
  display: none;
}

.cart-detail-payment-method {
  width: 150%;
  height: auto;
  border: 1px solid rgb(190, 185, 185);
  margin: 1rem;
  border-radius: 5%;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cart-detail-payment-method::-webkit-scrollbar {
  display: none;
}
.cart-detail-button {
  /* position: relative; */
  /* bottom: -2rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.subtotal-detail {
  position: relative;
  bottom: 0.35rem;
  margin-top: 30px;
}
.date-field {
  margin-left: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-number {
  width: 100%;
  padding: 1px;
  margin: 5px;
}
.card-owner {
  width: 100%;
  padding: 1px;
  margin: 5px;
}
.month {
  width: 45%;
  padding: 1px;
  margin: 5px;
}
.year {
  width: 45%;
  padding: 1px;
  margin: 5px;
}
.cvv-input {
  width: 98%;
  padding: 1px;
  margin: 5px;
}

.form-control {
  width: 90%;
  padding-top: 2px;
  margin-top: 5px;
}

.payment-styling {
  border-color: #e6e1e1;
}
/* all */
::-webkit-input-placeholder {
  color: #f00;
}
.field4::-webkit-input-placeholder {
  font-style: italic;
  text-decoration: overline;
  letter-spacing: 3px;
  color: #b1b1b1;
}

.field4::-moz-placeholder {
  font-style: italic;
  text-decoration: overline;
  letter-spacing: 3px;
  color: #83dce1;
}
input:hover {
  box-shadow: 5px 1px 8px 1px #b0bcbd;
}
/* .card-verification{
    position: absolute;
} */
/* @media only screen 
  and (max-device-width: 620px) {
    .cart-detail-main-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  } */
