.rabbit .r-productcart-mainDiv {
  margin-top: 9vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: rgb(19, 22, 21);
  box-sizing: border-box;
}
.rabbit .r-productcart-mainDiv .productlisting {
  width: 60vw;
  height: 70vh;
  overflow: scroll;
  margin-top: 3vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.rabbit .r-productcart-mainDiv .productlisting::-webkit-scrollbar {
  display: none;
}

.rabbit .r-productcart-mainDiv .subtotal {
  position: fixed;
  bottom: 10vh;
  right: 45vw;
  font-size: 1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 900;
  text-decoration: underline;
  font-variant: small-caps;
  text-transform: uppercase;
  color: rgb(6, 10, 6);
}

.rabbit .r-productcart-mainDiv .cart-detail {
  margin: 1vh;
}

@media only screen and (max-device-width: 620px) {
  .rabbit .r-productcart-mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .rabbit .r-productcart-mainDiv .subtotal {
    position: relative;
  }
}
