.product-listing {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.product-card {
  width: 300px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-card-img img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.product-card-info {
  margin-top: 0.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-card-info-title {
  color: rgb(58, 57, 57);
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0;
  /* below code is for giving ellipses after line end */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-info-price {
  color: rgb(58, 57, 57);
  font-size: 1.3rem;
  font-weight: 600;
}

.product-card-toolkit {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 40px; */
}

.product-card-info-title-toolkit {
  margin-bottom: 16px !important;
}

.product-card-info-desc-toolkit {
  text-transform: capitalize !important;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.product-card-info-price-toolkit {
  margin-bottom: 30px !important;
}

.product-card-img-toolkit > img {
  width: 100%;
  height: 360px;
  object-fit: contain;
}

.product-cart {
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.product-cart-item {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px 1rem;
  margin-bottom: 0.7rem;
}

.product-cart-img {
  text-align: center;
}

.product-cart-img > img {
  width: 100%;
  object-fit: contain;
  height: 330px;
}

.product-cart-info-title {
  font-weight: 600;
  font-size: 1.3rem;
}

.product-cart-info-desc {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.product-cart-info-price {
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
}

.remove-cart-btn {
  padding: 0.5rem 1.1rem !important;
  font-size: 1.2rem !important;
  margin-bottom: 1rem !important;
}

.subtotal-card {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 120px;
  font-size: 1rem !important;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
