.r-cartitem-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-cart{
    width:3rem;
    height:3rem;
    border-radius: 50%;

}
.product-cart-item{
    margin-left: 2px;
    -webkit-box-shadow: inset 5px -1px 45px -17px #d6cbcb; 
box-shadow: inset 5px -1px 45px -17px #9e9999;
border-radius: 3%;
 
    
}
.btn-cart:hover{

    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);


}
.r-btn:hover{

    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    

}

.product-cart-item:hover
{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
.product-cart-info-title{
    color: rgb(5, 102, 5);
    
}