.r-cartitem-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cart {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.product-cart-item {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
